.home__container {
  background-image: url("../../../public/images/Screenshot\ \(350\).png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 50vw;
}

.home__content {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__content > h1 {
  color: #fff;
}

/* Button */
.home__button {
  padding: 1.3em;
  border-radius: 999999px;
  width: 100%;
  height: 4em;
  color: #ffffff;
  font-size: 1.2em;
  background: #f7cd2e;
  font-weight: 800;
  letter-spacing: 0.1em;
  border: none;
  outline: none;
  box-shadow: 1px 1px 1px 1px #ffffff;
  cursor: pointer;
}

.home__btn__container {
  width: 40vh;
  margin-top: 2em;
}
