


:root {

      --sidebar : #1B98F5;
      --text : #EFF7F9;
      --hover : #71767B;
      --twitter : #00A770;
}





.sidebaroptions__container {

      margin-top : 3em;
}


.icon__text {
      
    color : var(--text);
    font-size : 1.3em;
    font-weight : 700;
}
.icons {
      padding : 1.1em;
      font-size : 1.3em;
      color : var(--text);
     

}

.sidebaroptions {

    display : flex;
    align-items : center;
    cursor : pointer;
    margin : 2em 2em 0 2em;
    
   
}


.sidebaroptions:hover {

     background : var(--hover);
     border-radius: 30px;
     transition:color 100ms ease-out;
     color : var(--twitter);
    

}



.sidebaroptions--active > h1 {

      color : var(--twitter);
}
.sidebaroptions--active > div {

      color : var(--twitter);
}

.sidebaroptions__user {

      display : flex;
      align-items : center;

}

.sidebaroptions__user > img {

   width : 50px;
   height : 50px;
   border-radius : 50%;
}

.sidebar__profile {


        display : flex;
        flex-direction : column;
        align-items : center;
        margin-left : 0.75em;


}

